name: Zizmor

on:
  push:
    branches: [main]
    paths:
      - ".github/**"
  pull_request:
    paths:
      - ".github/**"

permissions:
  contents: read
  security-events: write

jobs:
  zizmor:
    name: Security Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
